@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-300 font-poppins text-black dark:bg-black dark:text-white;
}
.default {
  @apply rounded-lg bg-white p-3 text-neutral-700 dark:bg-gray-900 dark:text-neutral-400;
}

.popup {
  @apply fixed left-2/4 z-10 h-2/4 w-2/4 translate-x-[-50%] rounded-lg bg-purple-600 p-1 text-white dark:bg-cyan-500;
}

.logo {
  animation: colorchange 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes colorchange {
  0% {
    @apply text-teal-500;
  }
  50% {
    @apply text-emerald-300;
  }
  100% {
    @apply text-cyan-500;
  }
}
